:root {
    --primary: #6209db;
    --dark: #000000;
    --light: #ffffff;
    --grey: #f5f5f5;
}

body {
    font-family: 'Poppins', sans-serif;
}

.navbar {
    min-height: 90px;
}

.text-primary {
    color: var(--primary) !important;
}

.navbar .btn {
    padding: .625rem 1.25rem !important;
}

.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary);
}

.btn-light{
    background-color: var(--light);
    color: var(--primary);
}

.btn-primary:hover {
    background-color: var(--primary);
    border-color: var(--primary);
}

.bg-primary {
    background-color: var(--primary) !important;
}

.bg-ligh {
    background-color: var(--grey) !important;
}

.content {
    max-width: 500px;
}

section {
    height: 900px;
}

.step::after {
    content: '';
    border-right: 1px solid var(--dark);
    height: 60px;
    position: absolute;
    top: 34px;
    opacity: .2;
}


.step {
    position: relative;
    display: flex;
    justify-content: center;

}

.call-to-action {
    border-radius: 50px;
}

.call-to-action img {
    max-width: 280px;
}

.cta-form{
    max-width: 480px;
}
.cta-form .form-control{
    min-height: 82px;
}

.cta-form .btn{
    top: 12px;
    right: 12px;
}
@media (max-width: 992px) {
    .navbar {
        position: relative !important;
    }

    section {
        height: unset;
    }

    .call-to-action img{
        max-width: 100%;
    }
    .w-75{
        max-width: 100% !important;
    }
}

.navbar-toggler:focus {
    box-shadow: none;
}